<h1>Servicios</h1>

<button class="btn btn-primary my-3" onclick="addService()">Agregar Servicios</button>

<table id="services" class="table table-striped" style="width:100%"></table>


<script src="~/js/services/service.js"></script>