<h1>Trabajos</h1>

<button class="btn btn-primary my-3" onclick="addService()">Agregar Trabajo</button>

<table id="works" class="table table-striped" style="width:100%"></table>


<script src="~/js/works/work.js"></script>